<%- include('inc/header') %>

    <section>
            <div class="columns is-mobile">
                <div class="column is-three-quarters p-l-75 p-r-20">
                    <div>
                        <p class="subtitle is-4">
                            👋, welcome to <strong>nubee.tech</strong>. Our mission is to help people new to tech in to their first jobs. Our partner companies are nubee-friendly so
                            will be great in helping you grow in your first role 🎉.
                        </p>
                    </div> <!-- intro-->

                    <div class="m-t-50"></div>

                    <div class="field is-horizontal listing">
                        <div class="field-label is-medium">
                            <label class="label">Filter</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <input class="input is-medium is-three-quarters" type="text" placeholder="Search results by location or role">
                            </div>
                            </div>
                        </div>
                    </div>  
                    <%- include('inc/index-job-listing') %>
                </div> <!-- first column-->

                <% if(locals.userType == 'hirer') { %>
                    <%- include('inc/hirer-sidebar') %>
                <% } else if(locals.userType == 'candidate') { %>
                    <%- include('inc/candidate-sidebar') %>
                <% } else {%>
                    <%- include('inc/default-sidebar') %>
                <% } %>
            
            </div> <!--main columns-->
    </section><!-- main body-->
</main>
<%- include('inc/footer') %>
