<%- include('../inc/header') %>

    <section>
        <div class="columns is-mobile">
            <div class="column is-three-quarters p-l-75 p-r-20">
                <div>
                    <h1 class="title is-1 index-h1">👋 <%= user.firstName %></h1>
                    <p class="subtitle is-4 m-t-50">
                        💼 Keep track of your listed jobs and applications.
                    </p>
                </div> <!-- intro-->

                <div class="m-t-50"></div>

                <div class="tabs is-toggle is-centered m-t-30">
                    <ul>
                        <li class="is-active" id="applications-tab">
                            <a>
                                <span>❤️ Applications</span>
                            </a>
                        </li>
                        <li id="jobs-listed-tab">
                            <a>
                                <span>📝 Jobs Listed</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="applications">
                    <%- include('../inc/hirer/applications') %>
                </div>
                <div id="jobs-listed" style="display:none;">
                    <%- include('../inc/hirer/jobs-listed') %>
                </div>
            </div> <!-- first column-->

            <%- include('../inc/hirer-sidebar') %>
        </div> <!--main columns-->
    </section><!-- main body-->
</main>
<%- include('../inc/footer') %>
